includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 2

    excludePaths:
        - %currentWorkingDirectory%/database/migrations/*.php

    # ignoreErrors:
    #     - '#PHPDoc tag @var#'