includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 8

    excludePaths:
        - %currentWorkingDirectory%/database/migrations/*.php

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Access to an undefined property App\\Models\